*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.print-area{
    width: 80%;
    margin: 20px auto;
    padding-bottom: 20px;
}
.print-area .header{
    width: 100%;
    height: 150px;
    background-color: rgb(31, 34, 43);
    display: flex;
    align-items: center;
    position: relative;
}
.header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 85px;
    border: 5px solid white;
    box-shadow: 3px 3px 10px rgba(0,00,.5);
    cursor: pointer;
    transition: .5s;
    user-select: none;
    filter: grayscale(100%); 
}
.header img:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 3px 3px 20px rgba(0,00,.5);
}
.header-text{
    color: white;
    width: 60%;
    margin-left: auto;
}
.header-text h1{
    font-size: 80px;
    font-weight: normal;
}
.header-text p{
    font-size: 20px;
    color: lightgray;
}
.content{
    display: flex;
    flex-wrap: wrap;
}
.left-area{
    width: 30%;
    background-color: rgb(236, 236, 236);
    text-align: center;
    padding-bottom: 20px;
}
.left-area .contact{
    margin-top: 130px;
    padding: 0 30px;
}
.contact h4{
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0;
}
.contact h5{
    font-size: 18px;
    margin: 10px 0;
}
.contact p{
    font-size: 17px;
}
.skills{
    margin-top: 30px;
}
.skills h1{
    font-size: 30px;
    font-weight: normal;
}
.bars{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
    padding: 0 20px;
}
.bars .bar p{
    font-size: 15px;
    font-weight: bold;
}
.bar span{
    display: block;
    width: 100%;
    height: 10px;
    background-color: rgb(192, 191, 191);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.bar span::before{
    position: absolute;
    content: "";
    width: 30%;
    height: 80%;
    background-color: black;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10px;
}

.follow h1{
    margin-top: 30px;
    font-size: 30px;
    font-weight: normal;
}
.follow h4{
    font-size: 18px;
    margin: 10px 0;
}
.follow p{
    font-size: 15px;
    color: gray;
}



.right-area{
    width: 70%;
    padding: 50px;
}
.right-area h1{
    font-size: 35px;
    font-weight: normal;
}
.right-area h1 img{
    margin-right: 40px;
    font-size: 50px;
    color: lightgray;
}
.right-area p{
    padding-left: 70px;
    text-align: justify;
    word-break: break-all;
    font-size: 17px;
    color: gray;
    margin-top: 10px;
}
.education{
    margin-top: 70px;
}
.education-group{
    margin: 10px 0;
}
.education .education-group{
    position: relative;
}
.education-group h3{
    font-size: 22px;
    font-weight: normal;
    padding-left: 70px;
}
.education-group span{
    position: absolute;
    top: 10px;
    right: 0;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.personality{
    margin-top: 90px;

}
.personality-groub{
    position: relative;
    margin: 10px 0;
}
.personality-groub h4{
    padding-left: 70px;
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
}
.personality-groub span{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 15px;
    font-weight: bold;
}